form#donate-form.donate-form(action="", method="post")
  input(type="hidden", name="_csrf", value="#{csrf_token}")
  input(type="text", name="shh", class="shh")

  fieldset#personal-info
    legend Personal Information
    .form-group
      label(for="human_name") Your Name
      input.form-control(type="text", name="human_name")

    .form-group
      label(for="phone") Your Phone
      input.form-control(type="text", name="phone")

    .form-group
      label(for="email") Your Email
      input.form-control(type="text", name="email")


  fieldset#your-donation
    legend Your Donation
    .form-group
      label(for="amount") Amount
      select#amount-select.form-control(name="amount")
        option(value="5") $5.00
        option(value="10") $10.00
        option(value="20") $20.00
        option(value="35") $35.00
        option(value="50") $50.00
        option(value="75") $75.00
        option(value="100") $100.00

    .form-group
      label Would you like to give more than $100?
      .checkbox
        input#other-checkbox.form-control(type="checkbox", name="amount_other", value="true")
        span &nbsp;Yes, I would.

      #other-amount-container

  .form-group
    button.btn.btn-donate.btn-lg(type="submit") Confirm and Enter Card

