@phone: 360px;
@small: 768px;
@medium: 992px;
@large: 1200px;

@burgundy: #85333C;
//@burgundy: rgba(133, 52, 61, 0.7);
@header-banner-bg: @burgundy;
@navbar-bg: @burgundy;
@navbar-border: darken(@burgundy, 15%);
@footer-bg: @burgundy;
@footer-border: darken(@burgundy, 15%);
@content-anchor-fg: @burgundy;

@red: #dd4b39;
@form-error: @red;

@white: #fff;
@footer-fg: @white;
@navbar-fg: @white;
@btn-donate-fg: @white;

@lavendar-pewter: #B8B6BA;
@lavendar-pewter: #67799f;
@lavendar-pewter: rgba(162, 168, 180, 0.7); 
@content-wrap-bg: @lavendar-pewter;

@lavendar-pewter-fallback: #A2A8B4;
@content-wrap-bg-fallback: @lavendar-pewter-fallback;

@teal: #29899C;
@btn-donate-bg: @teal;
@navbar-toggle-bg: @teal; 
@navbar-toggle-border: darken(@teal, 15%);
@icon-bar: lighten(@teal, 15%);

@anchor-fg: lighten(@teal, 20%);

@light-teal: #4bc1cf;
@navbar-fg-hover: @light-teal;

@blue: #6455B6;
@content-border: @blue;
@content-shadow: @blue;
@header-banner-border: darken(@blue, 30%);
@banner-border: @blue;

@bright-fuscia: #D5005D;
@content-bg: @bright-fuscia;

@grey: #888;
@intro-bg: @grey;
@volunteer-bg: @grey;

@navy-blue: #07002A;
@body-bg: @navy-blue;

@black: #141414;
@content-fg: @black;

@masthead-image: url("/img/banner-big.png");
@header-banner-img: url("/img/header-banner.png");

@import 'gradients';
@import 'util.less';

.shh { display: none; }

body {
    font-size: 18px;
    background-image: url('/img/french_parlor_pattern.png');
    padding-top: 50px;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
    .navbar-nav > li > a {
        &:hover, &:active {
            background-color: transparent; 
            color: @navbar-fg-hover;
        }
    }
}

.navbar-dyer {
    background-color: @navbar-bg;
    border-bottom: 5px solid @navbar-border;
    .navbar-toggle {
        background-color: @navbar-toggle-bg; 
        border: 1px solid @navbar-toggle-border;
        .icon-bar {
            background-color: @icon-bar; 
        }
    }

    a {
        color: @navbar-fg;
    }

    .btn-donate {
        margin-bottom: 10px;

        @media (min-width: @small) {
                margin-top: 10px; 
            }
    }
}

.form-group .checkbox {
    box-shadow: none;
    -webkit-box-shadow: none;
    span {
        line-height: 40px; 
    }
    input {
        width: 30px; 
        height: 30px;

    }
}

.lato { font-family: 'Lato', sans-serif; font-weight: 900; }
.bitter { font-family: 'Bitter', serif; }

h1, .h1, h2, .h2, h3, .h3 { .lato; }
h4, .h4, p, a, span, li { .bitter; }

a {
    color: @anchor-fg;
    &:hover,&:active {
        color: lighten(@anchor-fg, 25%);
    }
}

li {
    list-style-image: url('/img/gavel.png');
}

blockquote {
    p { font-size: 22px; }
    cite { font-size: 18px; }
}

.btn-donate {
    border-bottom: 2px solid darken(@btn-donate-bg, 15%);
    border-right: 1px solid darken(@btn-donate-bg, 15%);
    color: @btn-donate-fg;
    #gradient > .vertical(lighten(@btn-donate-bg, 25%), @btn-donate-bg);
    &:active {
        background-color: @btn-donate-bg;
    }
}

.btn-lg {
    padding: 12px 28px;
    font-size: 22px;
    line-height: 1.44;
    border-radius: 6px;
}

header {
    padding-top: 1em;
    padding-bottom: 2em;
    margin-bottom: 7em;
    background-image: @masthead-image;
    background-position: center center;
    border-bottom: 5px solid @header-banner-border;
    color: @white;
    display: block;
    height: 315px;

    @media (min-width: @small) {
        padding-top: 3em;
        margin-bottom: 0em;
    }

    @media (min-width: @medium) {
        padding-top: 2em;
        margin-bottom: 2em;
    }

    .banner {
        //min-height: 310px; 
        //min-width: 1200px;
        border: 9px solid @header-banner-border;
        //background-image: @header-banner-img;
        background-position: center center;
        padding: 1em;
        background-color: @header-banner-bg;
        overflow: hidden;

        .copy {
            text-align: center;

            @media (min-width: @small) {
                width: 58%;
                text-align: left;
                margin-right: 20px;
            }

            @media (min-width: @large) {
                h1 { font-size: 46px; }
                h2 { font-size: 40px; }
                h3 { font-size: 34px; }
            }
        }

        img {
            height: 160px; margin: 0 auto; display: block;

            @media (min-width: @small) { 
                float: right;     
            }

            @media (min-width: @medium) {
               height: 260px;  
            }
        }
        
    }
}

footer,
section {
    padding-top: 2em;
    padding-bottom: 2em;
    @media  (min-width: @small) {
    }
}

.content-wrap {
    background-color: @content-wrap-bg;
    //border-top: 2px solid @content-border;
    //border-bottom: 2px solid @content-border;
    box-shadow: 0px 6px 1px -4px @content-shadow;
    border-radius: 7px;
    padding-top: 2em;
    padding-bottom: 2em;
    color: @content-fg;

    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: @small) {
        padding-left: 4em;
        padding-right: 4em;
    } 

    h1, h2, h3, .h1, .h2, .h3 {
        .body-text-shadow(lighten(@content-wrap-bg, 35%));
    }

    a { color: @content-anchor-fg; }
}

.family {}
.education {}
.involvement {}
.experience {}
.thank-you {
    a {
        color: lighten(@footer-bg, 10%);
        //text-shadow: none; 
    }
}
.donate {
    img {
        margin-bottom: 20px; 
    }
}

.schedule {
    padding-bottom: 2em;

    @media  (min-width: @small) {
        padding-bottom: 4em;
    }
}

footer {
    background-color: @footer-bg;
    border-top: 5px solid @footer-border;
    color: @footer-fg;

    @media (min-width: @small) {

    }

    .address {
        h3 { margin-top: 0; } 
        .body-text-shadow(darken(@footer-bg, 25%));
        padding-top: 1em;

        @media (min-width: @small) {
            padding-top: 0; 
        }
    }

    .byline {
        padding-top: 1em; 
        .body-text-shadow(darken(@footer-bg, 25%));
    }

    .countdown-timer {
        padding: 0.3em 0.2em 0 0.6em;
        border-radius: 7px;
        background-color: @light-teal;     

        .h3 { margin: 0; }

        .is-countdown {
            border: none;
            border-radius: 7px;
            background-color: transparent;
            font-size: 14px;

            .countdown-section {
                text-align: left; 
            }
        }
    }
}
