extends layouts/base
block body
  section.family
    .container.content-wrap
      .row
        .col-sm-12
          h1 About Kate Dyer

      .row
        .col-sm-7
          h3 Family Oriented
          p Kate is married to John Dyer, a mechanical engineer, and has one daughter, Kaitlyn.

        .col-sm-5
          img.img-responsive(src="/img/family-photo.jpg")

  section.education
    .container.content-wrap
      .row
        .col-sm-3
          img.img-responsive(src="/img/educated.jpg")

        .col-sm-9
          h3 Highly Educated
          p Kate has earned degrees in nursing, law, and theology.
          ul
            li Bachelor of Science in Nursing, 1979, Olivet Nazarene University, Knakakee, IL
            li Juris Doctor (JD), 1985, Golden Gate University School of Law, San Francisco, CA 
            li Master of Divinity, 1993, San Francisco Theological Seminary, San Anselmo, CA

  section.involvement
    .container.content-wrap
      .row
        .col-sm-7
          h3 Highly Involved
          p Kate's involvement in community and professional organizations is extensive, and includes:
          p.bold Volunteer and Community
          ul
            li  Volunteer, Warm Hearts, Clarksville, TN, December, 2013
            li  Legal counsel/executive committee member, Cheatham County Safe House, 2012-2013
            li  Co-founder, Forever Young, Over 50 Seniors, Pleasant View, TN, 2012-2013
            li  Strafford County Women’s Shelter, Portsmouth, NH
            li  Parent/Teachers Association, Dover, NH
            li  Member, numerous church boards and committees

          p.bold Professional Memberships
          ul
            li Tennessee Association of Criminal Defense Lawyers Criminal Law College, 2007
            li National Judicial College, Ethics in Rural Courtrooms (Reno, NV), 2011
            li Tennessee Bar Association, 2005 to present
            li American Bar Association, 1987 to present
            li Tennessee Association of Criminal Defense Lawyers, 2006 to present

        .col-sm-5
          img.img-responsive(src="/img/involved.jpg")

  section.quote
    .conatiner.content-wrap
      .row
        .col-sm-8.col-sm-offset-2
          p.h2.
            “Success is no accident. It is hard work, perseverance, learning,
            studying, sacrifice and most of all, love of what you are doing or
            learning to do”

          p  - Pelé
