extends layouts/base
block body
  section.family
    .container.content-wrap
      .row
        .col-sm-5
          h3 Family Oriented
          p Kate is married to John Dyer, a mechanical engineer, and has one daughter, Kaitlyn.
        .col-sm-7
          img.img-responsive(src="/img/family-group.jpg")

  section.education
    .container.content-wrap
      .row
        .col-sm-3
          img.img-responsive(src="http://placehold.it/250x250&text=Portrait")

        .col-sm-9
          h3 Highly Educated
          p Kate is a highly educated person, having received degrees in nursing, law, and theology.
          ul
            li Olivet Nazarene University, Kankakee, IL, Bachelor of Science in Nursing, 1979
            li Golden Gate University School of Law, San Francisco, CA, Juris Doctor (JD), 1985
            li San Francisco Theological Seminary, San Anselmo, CA, Master of Divinity, 1993
            li Tennessee Association of Criminal Defense Lawyers Criminal Law College, 2007
            li National Judicial College, Reno, NV, Ethics in Rural Courtrooms. 2011

  section.involvement
    .container.content-wrap
      .row
        .col-sm-7
          h3 Highly Involved
          p Kate's involvement in civic organizations is extensive, and includes:
          ul
            li  Tennessee Bar Association, 2005-present
            li  American Bar Association, 1987-present
            li  Tennessee Association of Criminal Defense Lawyers, 2006-present
            li  Volunteer, Warm Hearts, Clarksville, TN, December, 2013
            li  Legal Counsel/Executive Committee, Cheatham County Safe House, 2012-2013
            li  Co-founder, Forever Young, Over 50 Seniors, Pleasant View, TN, 2012-2013
            li  Strafford County Women’s Shelter, Portsmouth, NH
            li  Parent/Teachers Association, Dover, NH
            li  Numerous Church Board memberships and committees

        .col-sm-5
          img.img-responsive(src="/img/senior-activism.jpg")

  section.experience
    .container.content-wrap
      .row
        .col-sm-4
          img.img-responsive(src="http://placehold.it/300x300&text=Judge Portrait")
        .col-sm-8
          h3 Experienced in Public Service
          p Kate's a practicing attorney and has been a municipal judge in Coopertown, TN since 2008.

