extends layouts/base
block body
  section#donate.donate
    .container.content-wrap
      .row
        .col-sm-6
          h1 Make a Contribution to the Campaign
          p.lead Kate Dyer needs your help to win this election. Volunteer, donate, and VOTE.

          p.lead.
            Being qualified isn't the only thing that wins elections! While
            Kate is the best person for the job, she still needs every bit
            of help she can get in pursuit of getting the word out.

          p.
            With more than 27 years of experience as a prosecutor and a
            criminal defense attorney, including 6 years as a judge already
            effectively serving her community in Montgomery and Roberston
            counties, Kate Dyer is, without question or competition, the most
            qualified, experienced, and dedicated person for the job.

          p.
            But simply being the most qualified isn’t always
            enough. Before Kate can help you, she needs your help to win this
            election.

          p.
            Every dollar donated will go to the effort to educate and inform
            the voters of Montgomery and Robertson counties as to the
            importance of bringing the most experienced candidate to the bench
            this August.  That means buying more road signs, more newspaper and
            print advertisements, more campaign materials, and more educational
            materials.

          p.
            Kate has big plans to improve judicial efficiency and
            accountability. Will you help today with a donation to help make
            that happen in your community? If you care about a fair, honest,
            and efficient court, you should care about her candidacy.

          img.img-responsive(src="/img/thanks-pic.jpg")

          p.
            Kate Dyer wants to thank you for your support. Whether you can offer
            a handshake, a sincere word of encouragement, an endorsement, an
            invitation, a referral, or the contribution of your valuable time
            and money, you are an invaluable part of the promise that your courts
            will be more efficient, more effective, and more accountable when
            you help elect Kate Dyer as your next Circuit Court Judge.

          p.h1.text-center Thank you for your support!

        .col-sm-6
          h2 Make a Donation
          include includes/donate-form
