extends layouts/base
block body
  section#donate.donate
    .container.content-wrap
      .row
        .col-sm-6
          h1 Make a Contribution to the Campaign
          p.lead Kate Dyer needs your help to win this election. Volunteer, donate, and VOTE.
          p.lead.
            Being qualified isn't the only thing that wins elections! While
            Kate is the best person for the job, she still needs every bit
            of help she can get in pursuit of getting the word out.

          p.
            With more than X years of experience as a prosecutor and attorney,
            including X years as a judge already effectively serving her
            community in X and Y counties, Kate Dyer is, without question or
            competition, the most qualified, experienced, and dedicated person
            for the job.

          p.
            But simply being the most qualified isn’t always
            enough. Before Kate can help you, she needs your help to win this
            election.

          p.
            Every dollar donated will go to the effort to educate
            and inform the voters of X and Y counties as to the importance of
            bringing the most experienced candidate to the bench this August.
            That means buying more road signs, more newspaper and print
            advertisements, more campaign materials, and more educational
            materials.
          p.
            Kate has big plans to improve judicial efficiency and
            accountability. Will you help today with a donation to help make
            that happen in your community? If you care about a fair, honest,
            and efficient court, you should care about her candidacy.

          img.img-responsive(src="/img/thanks-pic.jpg")

          p.
            Kate Dyer wants to thank you for your support. Whether you can offer
            a handshake, a sincere word of encouragement, an endorsement, an
            invitation, a referral, or the contribution of your valuable time
            and money, you are an invaluable part of the promise that your courts
            will be more efficient, more effective, and more accountable -when
            you help elect Kate Dyer as your next Circuit Court Judge.

          p.h1.text-center Thank you for your support!

        .col-sm-6
          h2 Make a Donation
          form#donate-form.donate-form(action="", method="post")
            input(type="hidden", name="_csrf", value="#{csrf_token}")
            input(type="text", name="shh", class="shh")

            fieldset
              legend Personal Information
              .form-group
                label(for="human_name") Your Name
                input.form-control(type="text", name="human_name")

              .form-group
                label(for="phone") Your Phone
                input.form-control(type="text", name="phone")

              .form-group
                label(for="email") Your Email
                input.form-control(type="text", name="email")

            fieldset
              legend Donation Information
              p.hint.
                The law requires us to collect this info.  You can put
                "N/A" if you're not employed, or "self-employed" if you
                are self employed.

              p.hint.
                If you put "self-employed", please describe what you do in
                a couple of words.

              .form-group
                label(for="address") Your Street Address
                input.form-control(type="text", name="address")

              .form-group
                label(for="city") Your City
                input.form-control(type="text", name="city")

              .form-group
                label(for="zip_code") Your Zip Code
                input.form-control(type="text", name="zip_code")

              .form-group
                label(for="occupation") Your Occupation
                input.form-control(type="text", name="occupation")

              .form-group
                label(for="employer") Your Employer
                input.form-control(type="text", name="employer")

            fieldset
              legend Your Donation
              .form-group
                label(for="amount") Amount
                select#amount-select.form-control(name="amount")
                  option(value="5") $5.00
                  option(value="10") $10.00
                  option(value="20") $20.00
                  option(value="35") $35.00
                  option(value="50") $50.00
                  option(value="75") $75.00
                  option(value="100") $100.00

                .checkbox
                  label
                    input#other-checkbox.form-control(type="checkbox", name="amount_other", value="true")
                    span &nbsp;Other

                #other-amount-container

            .form-group
              button.btn.btn-donate.btn-lg(type="submit") Confirm and Enter Card
