extends layouts/base
block body
  .container.content-wrap.err-wrap
    .row
      .col-sm-12
        h1 Pardon Us
        p.h2 But Something Seems to Have Gone Wrong
        p. 
          We've notified tech support.  In the mean time, head back
          to <a href="/">home</a> and try what you where doing again.
        p.h2 Thanks!

        p This is for any code monkies looking at the site:
        p= error
