extends layouts/base
block body
  section.what-can-i-do#volunteer
    .container.content-wrap
      .row
        .col-sm-12
          h1.space Get Involved In Kate's Campaign

      .row
        .col-sm-7
          p.lead What can you do to help Kate help you? GET INVOLVED!
          p.
            We have some specific things in mind for the campaign that we could
            use your help on.

          ul
            li Volunteer your skills, time, and resources
            li Call voters
            li Put signs in your yard
            li Put signs outside your business
            li Host a meet-and-greet at your house, business, place of worship, or organization
            li Attend Kate's events and help distribute materials and the message
            li Put a bumper sticker on you vehicle
            li Stuff envelopes
            li Go door to door
            li Be a staff intern
            li Invite Kate to speak at your next meeting or event
            li Make a donation

        .col-sm-5
          h2 Get In Touch With the Campaign
          p.
            Do you have questions for the candidate? Would you like to volunteer? 
            Would you like to request an appearance? How can Kate help you?

          form#volunteer-form.volunteer-contact(action="", method="post")
            input(type="hidden", name="_csrf", value="#{csrf_token}")
            input(type="text", name="shh", class="shh")

            fieldset.who
              .form-group
                label.control-label(for="name") Name
                input.form-control(type="text", name="name")

              .form-group
                label.control-label(for="phone") Phone
                input.form-control(type="text", name="phone")

              .form-group
                label.control-label(for="email") Email
                input.form-control(type="text", name="email")
              
              .form-group
                label.control-label(for="interest") What would you like to do?
                input.form-control(type="text", name="interest")

              .form-group
                button.btn.btn-lg.btn-donate(type="submit") Submit

  section.social-media-involvement
    .container.content-wrap
      .row
        .col-sm-12
          h2 Get Involved with Kate on Social Media
          p.lead.
            Kate has a vibrant 
            <a href="//facebook.com/katedyerforjudge", target="_blank">Facebook Page</a> 
            dedicated to having conversations about her compaign. She'd love to
            hear from you with your questions, comments, support, and anything
            else you have to say!

          h3#vote-for-kate We Need You
          p.
            If you have a moment, consider showing Kate that you support her in
            her efforts to get elected by participating in the #VoteForKate campaign.

          p.
            Here's what we need from you: 
          
          ol
            li Take a photo of yourself with a Kate Dyer t-shirt, hat, or sign.
            li.
              Navigate to Kate's <a href="//facebook.com/katedyerforjudge", target="_blank">Facebook Page</a>. 
              (Don't forget to like it while you're there!)
            li Post your image to her page, like so! (Make sure to include #VoteForKate in the text.)

          img.img-responsive(src="/img/vote_for_kate_post_example.png")

          p.
            Here's an instructional vid that we had made to help you
            if you aren't sure of the steps.

      .row
        .col-sm-8.col-sm-offest-2
          video.screencast(controls, preload="auto")
            source(src="/vid/vote_for_kate.mp4", type="video/mp4")
            source(src="", type="")
            p Sorry, but it looks like your browser doesn't support HTML5 video.
            p Here's a link to the the instructional video on Youtube instead:
            p
              a(href="") How to Post Your Selfie to the #VoteForKate campaign
