extends layouts/base
block body
  section.what-can-i-do
    .container.content-wrap
      .row
        .col-sm-7
          h1 Get Involved In Kate's Campaign
          p.lead What can you do to help? Volunteer your time and energy!

          ul
            li Call voters
            li Put signs in your yard
            li Host a meet and greet at your house
            li Stuff envelopes
            li Go door to door
            li Be a staff intern

        .col-sm-5
          h2 Get In Touch With the Campaign
          p Drop us a line and tell us how you can volunteer your time. 
          form#volunteer-contact.volunteer-contact(action="", method="post")
            input(type="hidden", name="_csrf", value="#{csrf_token}")
            input(type="text", name="shh", class="shh")

            fieldset.who
              .form-group
                label.control-label(for="name") Name
                input.form-control(type="text", name="name")

              .form-group
                label.control-label(for="phone") Phone
                input.form-control(type="text", name="phone")

              .form-group
                label.control-label(for="email") Email
                input.form-control(type="text", name="email")

              .form-group
                button.btn.btn-lg.btn-default(type="submit") Submit

