extends layouts/base
block body
  section.issues
    .container.content-wrap
      .row
        .col-sm-5
          blockquote
            p.
              "In addition to administering justice, my main priority would be
              to find creative ways to be a good steward of the taxpayer's
              dollars by effieciently performing the duties of Circuit Court
              Judge."

            p
              cite.
                  -- Kate Dyer

        .col-sm-7
          h1 Why Should You Vote For Kate Dyer?

          p.
            85% of this Circuit Court's caseload is criminal cases.

          h2 Kate's Exerience

          ul
            li Twenty plus years in criminal law.
            li Criminal defense attorney.
            li Judge.
          
          //p.h2 "I know criminal law.  It's been my profession for over twenty years."

          p.h2 Who has the right experience?
  
          h3 When elected, Kate will:

          ul
            li.
              Save your tax dollars by resolving cases quickly.

            li.
              Increase the court's use of technology to make it easier to use.

            li.
              Find ways to fund the court system without increasing taxes.

  section.call-to-action
    .container.content-wrap
      .row
        .col-sm-8.col-sm-offset-2.text-center
          h2 Kate Dyer is simply more qualified in criminal law than her opponent … it’s that simple.

  section.schedule
    .container.content-wrap
      .row
        .col-sm-12
          h2 Come Out and Meet Kate
          p Find out when and where Kate will be next, and come say hello!

          table.table
            thead
              tr
                th Date
                th Event
                th Location

            tbody
              tr
                td Sat, Jun 28th @ 10 am
                td Veterans Political Forum
                td Civic Center, Clarksville, TN
              tr
                td Sat, Jun 28th @ 5 pm
                td Public Appearance
                td Morton's Chapel BBQ, Coopertown, TN
              tr
                td Tue, Jul 1st @ 11:30 am
                td MCRW
                td Clarksville, TN
              tr
                td Tue, Jul 1st @ 3 pm
                td The Joe Padula Show on WJZM 1400am
                td Clarksville, TN
              tr
                td Wed, Jul 2nd @ 2 - 5 pm
                td Sign Planting - Come Join Us!
                td Clarksville, TN
              tr
                td Thu, Jul 3rd @ 10:30 am
                td Public Appearance
                td Morton's Chapel BBQ, Coopertown, TN
              tr
                td Thu, Jul 3rd @ 1:30 pm
                td Fireworks Display
                td Marina at Liberty Park, Clarksville, TN
              tr
                td Sat, Jul 5th @ 6 - 8 pm
                td Willow Something
                td The Carousel House, 501 5th Ave W, Nashville, TN
              tr
                td Fri, Jul 11th @ 7 pm
                td Rita's Suicide Prevention Event
                td Unity Christian Academy, 1800 Memorial Drive, Clarksville, TN
              tr
                td Tue, Jul 21st @ TBA
                td Board of Realtors Forum
                td Clarksville, TN
              tr
                td Thu, Jul 24th @ 12 pm
                td Three Ladies Radio Show
                td Somewhere
              tr
                td Thu, Jul 24th @ 6:30 am
                td Kiwanis Meeting
                td The Hilldale YMCA Clarksville, TN
