extends layouts/base
block body
  section.issues
    .container.content-wrap
      .row
        .col-sm-5
          blockquote
            p.
              "In addition to administering justice, my main priority would be
              to find creative ways to be a good steward of the taxpayer's
              dollars by effieciently performing the duties of Circuit Court
              Judge."

            p
              cite.
                  -- Kate Dyer

        .col-sm-7
          h1 Why Should You Vote For Kate Dyer?

          p.
            85% of this Circuit Court's caseload is criminal cases.

          h2 Kate's Exerience

          ul
            li Twenty plus years in criminal law.
            li Criminal defense attorney.
            li Judge.
          
          p.h2 "I know criminal law.  It's been my profession for over twenty years."

          p.h3 Who has the right experience?
  
          h3 When elected, Kate will:

          ul
            li.
              Save your tax dollars by resolving cases quickly.

            li.
              Increase the court's use of technology to make it easier to use.

            li.
              Find ways to fund the court system without increasing taxes.

  section.call-to-action
    .container.content-wrap
      .row
        .col-sm-8.col-sm-offset-2.text-center
          h2 Kate Dyer is simply more qualified in criminal law than her opponent … it’s that simple.

  section.meet-kate
    .container.content-wrap
      .row
        .col-sm-12
          h2 Meet Kate
          h3.
            Come see her in action and get to know the candidate that you
            should vote for.
          img.center-block(src="http://placehold.it/800x600&text=Calendar")
