extends layouts/base
block body
  section.issues
    .container.content-wrap
      .row
        .col-sm-12
          h1.space Why Should You Vote For Kate Dyer?

      .row
        .col-sm-5
          blockquote
            p.
              "In addition to administering justice, my main priority would be
              to find creative ways to be a good steward of the taxpayer's
              dollars by efficiently performing the duties of Circuit Court
              Judge."

            p
              cite.
                  -- Kate Dyer

        .col-sm-7

          p.
            85 percent of this Circuit Court's caseload is criminal cases.

          h2 Kate's Exerience

          ul
            li Twenty plus years in criminal law
            li Criminal defense attorney
            li Judge
          
          //p.h2 "I know criminal law.  It's been my profession for over twenty years."

          p.h2 Who has the right experience?
  
          h3 When elected, Kate will:

          ul
            li.
              Save your tax dollars by resolving cases quickly

            li.
              Increase the court's use of technology to make it easier to use

            li.
              Find ways to fund the court system without increasing taxes

  section.call-to-action
    .container.content-wrap
      .row
        .col-sm-8.col-sm-offset-2.text-center
          h2 Kate Dyer is simply more qualified in criminal law than her opponent … it’s that simple.

  section.schedule#schedule
    .container.content-wrap
      .row
        .col-sm-12
          h2 Come Out and Meet Kate
          p Find out when and where Kate will be next, and come say hello!

          .table-responsive
            table.table.table-hover
              thead
                tr
                  th Date
                  th Event
                  th Location
              tbody
                tr
                  td Monday, July 7 @ 5 - 7 pm
                  td Sign Planting/Door Knocking
                  td Clarksville, TN
                tr
                  td Tuesday, July 8 @ 6:30 pm
                  td Dyer Fundraiser
                  td Canyon Road Steak House, Clarksville, TN
                tr
                  td Friday, July 11 @ 7 pm
                  td Suicide Prevention Council
                  td Unity Christian Academy, 1800 Memorial Drive, Clarksville, TN
                tr
                  td Saturday, July 12 @ 8 - 9 am
                  td Clarksville In Review on 1400am
                  td Clarksville, TN
                tr
                  td Saturday, July 12 @ 9 - 2 pm
                  td Farmers Market
                  td 109 Public Square, Clarksville, TN
                tr
                  td Sunday, July 13 @ 11 am
                  td Public Appearance
                  td Westgate Christian, 1481 Golf Club Lane, Clarksville, TN
                tr
                  td Monday, July 14 @ 7 pm
                  td ACT America Lecture on Islam and Sharia Law
                  td Women's Club, 1983 Madison St, Clarksville
                tr
                  td Tuesday, July 15 @ TBA
                  td Public Appearance
                  td Location TBA
                tr
                  td Friday, July 18 
                  td <strong>Early Voting Begins</strong>
                  td See <a target="_blank" href="https://www.mcgtn.org/election/districtspolling-locations">here for your voting location</a>
                tr
                  td Tuesday, July 22 @ TBA
                  td Board of Realtors Forum
                  td Location TBA, Clarksville, TN
                tr
                  td Wednesday, July 23 @ TBA
                  td Clarksville Civitan Presentation
                  td Location TBA, Clarksville, TN
                tr
                  td Thursday, July 24 @ 6:30 am
                  td Clarksville Kiwanis Meeting
                  td Clarksville Area YMCA, 260 Hillcrest Drive, Clarksville, TN
                tr
                  td Thursday, July 24 @ 12 pm
                  td Three Ladies Radio Show, 1400am
                  td Clarksville, TN
                tr
                  td Saturday, July 26 @ 12 - 6 pm
                  td Lone Oak Picnic
                  td Location, Clarksville, TN
                tr
                  td Monday, July 28
                  td <strong> Early Voting Ends </strong>
                  td See <a target="_blank" href="https://www.mcgtn.org/election/districtspolling-locations">here for your voting location</a>
                tr
                  td Saturday, August 7
                  td <strong>Come out and vote!</strong>
                  td See <a target="_blank" href="https://www.mcgtn.org/election/districtspolling-locations">here for your voting location</a>
