extends layouts/base
block body
  section.issues
    .container.content-wrap
      .row
        .col-sm-12
          h1.space Why Should You Vote For Kate Dyer?

      .row
        .col-sm-5
          blockquote
            p.
              "In addition to administering justice, my main priority would be
              to find creative ways to be a good steward of the taxpayer's
              dollars by effieciently performing the duties of Circuit Court
              Judge."

            p
              cite.
                  -- Kate Dyer

        .col-sm-7

          p.
            85% of this Circuit Court's caseload is criminal cases.

          h2 Kate's Exerience

          ul
            li Twenty plus years in criminal law.
            li Criminal defense attorney.
            li Judge.
          
          //p.h2 "I know criminal law.  It's been my profession for over twenty years."

          p.h2 Who has the right experience?
  
          h3 When elected, Kate will:

          ul
            li.
              Save your tax dollars by resolving cases quickly.

            li.
              Increase the court's use of technology to make it easier to use.

            li.
              Find ways to fund the court system without increasing taxes.

  section.call-to-action
    .container.content-wrap
      .row
        .col-sm-8.col-sm-offset-2.text-center
          h2 Kate Dyer is simply more qualified in criminal law than her opponent … it’s that simple.

  section.schedule
    .container.content-wrap
      .row
        .col-sm-12
          h2 Come Out and Meet Kate
          p Find out when and where Kate will be next, and come say hello!

          table.table
            thead
              tr
                th Date
                th Event
                th Location
            tbody
              tr
                td Tuesday, Jul 1st @ 11:30am
                td Mondaytgomery County Republic Women's Mondaythly Meeting
                td The Country Club, Clarksville, TN
              tr
                td Tuesday, Jul 1st @ 3pm
                td The Joe Padula Show on WJZM 1400am
                td Clarksville, TN
              tr
                td Wednesday, Jul 2nd @ 5 - 7pm
                td Sign Planting/Door Knocking - Come Join Us!
                td Clarksville, TN
              tr
                td Thursday, Jul 3rd @ 6:30pm
                td Fireworks Display
                td Marina at Liberty Park, Clarksville, TN
              tr
                td Saturday, Jul 5th @ 6 - 8pm
                td The Willow Oak Fundraiser
                td The Carousel House, 501 5th Ave W, Springfield, TN
              tr
                td Saturday, July 5th @ 8 - 1pm
                td Farmers Market
                td Clarksville, TN
              tr
                td Monday, 7th @ 5 - 7pm
                td Sign Planting/Door Knocking
                td Clarksville, TN
              tr
                td Tuesday, Jul 8th @ 6:30pm
                td Dyer Fundraiser
                td Canyon Road, 1550 Wilma Rudolph(?), Clarksville, TN
              tr
                td Friday, Jul 11th @ 7 pm
                td Suicide Prevention Fundraiser
                td Unity Christian Academy, 1800 Memorial Drive, Clarksville, TN
              tr
                td Saturday, 12th @ 8 - 9 am
                td Clarksville In Review on 1400am
                td Clarksville, TN
              tr
                td Saturday, 12th @ 9 - 2 pm
                td Farmers Market
                td Clarksville, TN
              tr
                td Sunday, 13th 11am
                td Public Appearance
                td WestGate Christian 1481 Golf Club
              tr
                td Friday, July 18th 
                td <strong>Early Voting Begins</strong>
                td See <a target="_blank" href="https://www.mcgtn.org/election/districtspolling-locations">here for you voting location</a>
              tr
                td Tuesday, Jul 22nd @ TBA
                td Board of Realtors Forum
                td Location TBA, Clarksville, TN
              tr
                td Wednesdaynesday, Jul 23rd @ TBA
                td Clarksville Civitan Presentation
                td Location TBA
              tr
                td Thursday, 6:30 am
                td Clarksville Kiwanis Meeting
                td Clarksville YMCA on Hilldale
              tr
                td Thursday, Jul 24th @ 12 pm
                td Three Ladies Radio Show, 1400am
                td Clarksivlle, TN
              tr
                td Thursday, Jul 24th @ 6:30 am
                td Kiwanis Meeting
                td The Hilldale YMCA Clarksville, TN
              tr
                td Saturday, Jul 26th @ 12 - 6 pm
                td Lone Oak Picnic
                td Location, Clarksville, TN
              tr
                td Monday, Jul 28th
                td <strong> Early Voting Ends </strong>
                td Clarksivlle, TN
              tr
                td Saturday, Aug 2nd
                td Family Mixer
                td Kennedy Law Firm, Ft. Campbell Blvd
              tr
                td Saturday, Aug 8th
                td <strong>Come out and vote!</strong>
                td See <a target="_blank" href="https://www.mcgtn.org/election/districtspolling-locations">here for you voting location</a>
d 
