extends layouts/base
block body
  section.media
    .container.content-wrap
      .row
        .col-sm-12
          h1.space Kate in the Media

      .row
        .col-sm-8
          p.
            Keep up with Kate as she does interviews, articles,
            forums, and generally moves about town!

          h3 Are you a member of the media?
          p. 
            If you'd like to interview Kate, feature her in an article, have
            her on the radio, or schedule her to make an appearance, email the
            campaign at:

          p.slightly-larger
            a(href="mailto:media@katedyerforjudge.com") media@katedyerforjudge.com

  section.endorsements
    .container.content-wrap
      .row
        .col-sm-12
          h2 Endorsements
          blockquote
            p
              strong.
                "I wholeheartedly endorse the candidacy of Attorney Kate Dyer for
                Circuit Court Judge. Ms. Dyer has been a City Judge for the Town
                of Coopertown for the past six years. During this time she has
                administered the law with high integrity, fairness and
                professionalism."

          cite
            p
              em Sam Childs
            p Mayor of Coopertown, Tennessee

  section#radio.radio
    .container.content-wrap
      .row
        .col-sm-12
          h2 Appearances On Radio Programs
          hr

      .row
        .col-sm-6
          h3 Kate on Clarksville in Review
          p July 12, 2014 on 1400AM WJZM
          audio(controls="controls", preload="auto")
            source(src="//archive.org/download/wjzm071114twt/wjzm071214cir.mp3", type="audio/mpeg")
            source(src="/audio/clarksville_in_review_dyer.mp3", type="audio/mpeg")
          p.
            Listen in as Kate talks about the race, gives a breakdown of who's
            running for the judges' seats, and why she is imminently qualified.
        
        .col-sm-6
          h3 Kate on Three Ladies on the Radio
          p July 24, 2014 on 1400AM WJZM
          audio(controls="controls", preload="auto")
            source(src="//archive.org/download/wjzm072414tlor/wjzm072414tlor.mp3", type="audio/mpeg")
            source(src="/audio/three_ladies_on_the_radio_dyer.mp3", type="audio/mpeg")
          p.
            Join Kate and the Three Ladies on the Radio as she talks about where
            she comes from, how criminal law is her passion in life, and how
            that makes her an ideal candidate for judge.

      .row
        .col-sm-12
          h2 Radio Advertisements
          hr

      .row
        .col-sm-6
          h3 Radio Ad 1

          audio(controls, preload="auto")
            source(src="/snd/ad_1.mp3", type="audio/mpeg")
            p. 
              Sorry, but your browser doesn't support this kind of audio. Be
              sure to listen to 1400AM WJZM to catch her ad there!

          p. 
            Kate has over twenty years of experience with criminal law, and
            she wants to use that experience to hit the ground running.


        .col-sm-6
          h3 Radio Ad 2

          audio(controls, preload="auto")
            source(src="/snd/ad_2.mp3", type="audio/mpeg")
            p. 
              Sorry, but your browser doesn't support this kind of audio. Be
              sure to listen to 1400AM WJZM to catch her ad there!

          p. 
            Kate is the only candidate in this race with judicial experience,
            making her the most qualified.

      .row
        .col-sm-6
          h3 Radio Ad 3

          audio(controls, preload="auto")
            source(src="/snd/ad_3.mp3", type="audio/mpeg")
            p. 
              Sorry, but your browser doesn't support this kind of audio. Be
              sure to listen to 1400AM WJZM to catch her ad there!

          p. 
            Kate has 26 years of experience dealing with criminal law, and has
            processed over 1000 cases as a prosecutor and defense attorney,
            further qualifying her for the position.

        .col-sm-6
          h3 Radio Ad 4

          audio(controls, preload="auto")
            source(src="/snd/ad_4.mp3", type="audio/mpeg")
            p. 
              Sorry, but your browser doesn't support this kind of audio. Be
              sure to listen to 1400AM WJZM to catch her ad there!

          p. 
            Each day a person sits waiting on their day in court, it costs
            you, the taxpayer, a great deal of money. Kate knows how to run
            a court efficiently, saving you that money by processing cases
            faster.
          
  section.print-media
    .container.content-wrap
      .row
        .col-sm-12
          h2 Print Media
          blockquote
            p
              strong.
                "Kate Dyer, who has more than 25 years of experience as a
                prosecutor and defense attorney, said she is more qualified,
                having served as a judge in Coopertown for the past six years."
          cite
            p
              em The Leaf Chronicle, July 3 2014
            p
              a(target="_blank", href="//www.theleafchronicle.com/article/20140622/NEWS01/306210038/Judge-hopefuls-want-more-efficiency-from-courts") "Judge hopefuls want more efficiency from courts"

  section
    .container.content-wrap
      .row
        .col-sm-12
          h2 Videos
          p.h4 May 1, 2014
          p.
            See Kate introduce her self at a candidate forum early on in the
            campaign. Get a feel for her platform and why she feels so
            passionate about running for Circuit Court Judge.

          p.h3
            a(href="//www.youtube.com/watch?v=lILBLHVd3z4#t=140") Judge Division 2 Political Forum

          .video.hidden-xs.hidden-sm
            <iframe class="hidden-xs hidden-sm" width="420" height="315" src="//www.youtube.com/embed/lILBLHVd3z4" frameborder="0" allowfullscreen></iframe>

          .video.hidden-md.hidden-lg
            <iframe class="hidden-md hidden-lg" width="330" height="248" src="//www.youtube.com/embed/lILBLHVd3z4" frameborder="0" allowfullscreen></iframe>
