extends layouts/base
block body
  section.media
    .container.content-wrap
      .row
        .col-sm-12
          h1.space Kate in the Media

      .row
        .col-sm-8
          p.
            Keep up with Kate as she does interviews, articles,
            forums, and generally moves about town!

  section
    .container.content-wrap
      .row
        .col-sm-12
          p.h4 June 23, 2014 
          blockquote
            p.
              "Kate Dyer, who has more than 25 years of experience as a
              prosecutor and defense attorney, said she is more qualified,
              having served as a judge in Coopertown for the past six years."
          cite
            p
              a(target="_blank", href="http://www.theleafchronicle.com/article/20140622/NEWS01/306210038/Judge-hopefuls-want-more-efficiency-from-courts") Judge hopefuls want more efficiency from courts

  section
    .container.content-wrap
      .row
        .col-sm-12
          p.h4 May 1, 2014 
          p.h3
            a(href="https://www.youtube.com/watch?v=lILBLHVd3z4#t=140") Judge Division 2 Political Forum

          <iframe width="420" height="315" src="//www.youtube.com/embed/lILBLHVd3z4" frameborder="0" allowfullscreen></iframe>

  section
    .container.content-wrap
      .row
        .col-sm-12
          p.h4 April 11, 2014 
          p.h3
            a(href="http://www.theleafchronicle.com/article/20140410/OPINION/304100035/OUR-VIEW-Interesting-match-ups-county-ballot") OUR VIEW: Interesting match-ups on county ballot
