extends layouts/base
block body
  section.thank-you
    .container.content-wrap
      .row
        .col-sm-12
          h1 Thank You!
          p.
            With your support, we're one step closer to getting Kate elected.
              

