extends layouts/base
block body
  section.thank-you
    .container.content-wrap
      .row
        .col-sm-12
          h1 Thank You!
          p.
            With your support, we're one step closer to getting Kate elected.
          
          p.h3.
            If you have some time to give, please consider <a href="/get-involved">volunteering!</a>.
