footer
  .container
    .row
      .col-sm-6
        .countdown-timer.btn-donate
          p.h2 Countdown To Early Voting!
          #timer

      .col-sm-4.col-sm-offset-2
        .address
          h3 Contact Us
          p PO Box 3083
          p Clarksville, TN 37043
          p (931) 896-3774
          p
           a(href="mailto:kate@katedyerforjudge.com") kate@katedyerforjudge.com

    .row
      .col-sm-12.text-center
        .byline
          p.
            Paid for by the Committee to Elect Kate Dyer Circuit Court Judge.

          p.
            &copy;2014 <a href="http://elcreativegroup.com">E|L Creative Group</a>
