header
  .container
    .row
      .col-sm-10.col-sm-offset-1
        .banner.center-block
          img.img-responsive(src='/img/logo-banner.png')
          .copy
            h1 Kate Dyer 
            h2 For Circuit Court Judge
            h3 19th Judicial District, Division II
