nav.navbar-dyer.navbar.navbar-fixed-top
  .container
    .navbar-header
      img.img-responsive.navbar-left(src="/img/logo-sm.png")
      button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar

    #navbar-collapse.navbar-collapse.collapse
      ul.navbar-nav.nav.navbar-left
        li
          a(href="/") Home
        li
          a(href="/about") About Kate
        li
          a(href="/get-involved") Get Involved
        li
          a(href="/donate") Donate

      button.btn.btn-lg.btn-donate.navbar-right(type="button") Donate
